absl-py==2.5.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
edge-tts==7.2.8
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist==1.8.0
idna==3.18
jax==0.4.38
jaxlib==0.4.38
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.11.0
mediapipe==0.10.21
ml_dtypes==0.5.4
multidict==6.7.1
narwhals==2.23.0
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv_python==5.0.0.93
opt_einsum==3.4.0
packaging==26.2
pandas==3.0.3
pillow==12.3.0
propcache==0.5.2
protobuf==4.25.9
PyAudio==0.2.14
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
sentencepiece==0.2.1
six==1.17.0
sounddevice==0.5.5
SpeechRecognition==3.17.0
tabulate==0.10.0
threadpoolctl==3.6.0
typing_extensions==4.16.0
urllib3==2.7.0
yarl==1.24.2
